#movies img, #movie img{
    width: 100%;
  }
  
  body{
    background-color: #151515;
  }
  @media(min-width:960px){
    #movies .col-md-3 .well{
      height: 390px;
      color: white;
  
    }
  
    #movies .col-md-3 img{
      height: 240px;
    }
  }
  
    
    .placeholder{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: #f1f1f1 url(img/spinner_dark.svg) no-repeat; */
    background-position: 500%;
    }
   
    
    .logo-inner{
    position: static;
    top: 0;
    left: 0;
    width: 10cm;
    height: 50%;
  
    color: rgb(0, 0, 0);
    }
    
    .logo-inner svg{
    width: 50%;
    height: 50%;
    }
    
    .fade-enter-active, .fade-leave-active {
      transition: opacity .7s
    }
    .fade-enter, .fade-leave-to {
      opacity: 0
    }
  
    * {
      box-sizing: border-box;
   }
    body {
      background: rgb(0, 0, 0);
      color: rgb(0, 0, 0);
      line-height: normal;
      font-size: 16px;
      font-family: sans-serif;
   }
    a, a:hover {
      color: #fff;
      text-decoration: none;
      font-weight: 600;
   }
    nav {
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      height: 50px;
      background: #151515;
      box-shadow: 0 0px 9px 4px rgba(0, 0, 0, 0.1), 0 -5px 2px 2px rgba(0, 0, 0, 0.1);
      z-index: 1000;
      min-width: 580px;
      margin-bottom: 100%;
   }
    nav .logo {
      position: relative;
      float: left;
      height: 50px;
      line-height: 50px;
      padding: 0 15px;
      font-size: 22px;
      font-weight: 900;
      text-transform: uppercase;
   }
    nav .logo span {
      display: inline-block;
      position: relative;
      top: -8px;
      font-size: 13pt;
   }
    nav .logo:hover {
      background: #6082B6 ;
   }
    nav .links {
      float: right;
      margin-right: 30px;
      position: relative;
   }
    nav .links li {
      float: left;
      list-style: none;
      position: relative;
      margin: 10px;
      display: inline-block;
   }
    nav .links li > a {
      position: relative;
      display: inline-block;
      padding: 0 10px;
      line-height: 30px;
      height: 30px;
   }
    nav .links li > a:hover {
      color: rgb(255, 255, 255);
      background: #6082B6;
      border-radius: 2px;
   }
    nav .links li > a[class^="trigger-"] {
      padding-right: 40px;
   }
    nav .links li > a .arrow {
      position: absolute;
      width: 10px;
      height: 10px;
      top: 35%;
      text-align: center;
      right: 10px;
      border-width: 5px 5px 0 5px;
      border-style: solid;
      border-color: rgba(0, 0, 0, 0.3) transparent;
   }
    nav .links li > a .arrow:after {
      content: "";
      border-left: 1px solid rgba(0, 0, 0, 0.15);
      top: -10px;
      left: -15px;
      position: absolute;
      height: 15px;
   }
    nav .links li ul {
      position: absolute;
      left: 0;
      margin: 0;
      background: #242424;
      border-radius: 2px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
      display: none;
   }
    nav .links li ul > li {
      clear: both;
      list-style: none;
      display: block;
      padding: 0 10px;
      margin: 0;
      width: 100%;
   }
    nav .links li ul > li:hover {
      background: #6082B6 ;
   }
    nav .links li ul > li:hover > a {
      background: #6082B6 ;
      color: rgb(255, 255, 255);
   }
    nav .links li:hover > .drop {
      display: block;
      animation: fadeInRight 0.3s ease;
      -webkit-animation: fadeInRight 0.3s ease;
   }
    @keyframes fadeInRight {
      0% {
        opacity: 0;
        transform: translate3d(100%, 0, 0);
     }
      100% {
        opacity: 1;
        transform: none;
     }
   }
  
   nav .links {
    float: right;
    margin-right: 30px;
    position: relative;
  }
  nav .links li {
    float: left;
    list-style: none;
    position: relative;
    margin: 10px;
    display: inline-block;
  }
  nav .links li > a {
    position: relative;
    display: inline-block;
    padding: 0 10px;
    line-height: 30px;
    height: 30px;
  }
  nav .links li > a:hover {
    color: rgb(255, 255, 255);
    background: #6082B6;
    border-radius: 2px;
  }
  nav .links li > a[class^="trigger-"] {
    padding-right: 40px;
  }
  nav .links li > a .arrow {
    position: absolute;
    width: 10px;
    height: 10px;
    top: 35%;
    text-align: center;
    right: 10px;
    border-width: 5px 5px 0 5px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.3) transparent;
  }
  nav .links l > a .arrow:after {
    content: "";
    border-left: 1px solid rgba(0, 0, 0, 0.15);
    top: -10px;
    left: -15px;
    position: absolute;
    height: 15px;
  }
  nav .links li ul {
    position: absolute;
    left: 0;
    margin: 0;
    background: #242424;
    border-radius: 2px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    display: none;
  }
  nav .links li ul > li {
    clear: both;
    list-style: none;
    display: block;
    padding: 0 10px;
    margin: 0;
    width: 100%;
  }
  nav .links li ul > li:hover {
    background: #6082B6 ;
  }
  nav .links li ul > li:hover > a {
    background: #6082B6 ;
    color: rgb(255, 255, 255);
  }
  nav .links li:hover > .drop {
    display: block;
    animation: fadeInRight 0.3s ease;
    -webkit-animation: fadeInRight 0.3s ease;
  }
    
  
  
  .button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    
  }
  
  .button {
    background-color: #151515; 
    color: white; 
    font: Arial;
    font-weight: 600;
    border-radius: 4px;
    
  }
  
  .button:hover {
    background-color: #f44336;
    color: white;
  }
  
  #movie {
      color: white
  }
  
  .About {
      color : white;
  }
  